* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "lato-light";
    src: url("../fonts/lato/Lato-Light.ttf")
}
@font-face {
    font-family: "lato-regular";
    src: url("../fonts/lato/Lato-Regular.ttf")
}
@font-face {
    font-family: "lato-bold";
    src: url("../fonts/lato/Lato-Bold.ttf")
}
/* Styling for image slideshow */
.image-slideshow-container {
    position: relative;
    margin-top: 20px;
    /* max-width: 1440px; */
    width: 100%;
    height: 684px;
    background: #c1c1c1;
    overflow: visible;
    display: flex;
    justify-content: center;
}
.images-container {
    display: flex;
    width: 100%;
    height: inherit;
    overflow: visible;
    transition: all 10s;
}
.slider-image-1 {
    width: 100%;
    object-fit: cover;
    /* transition: all 2s ease-in-out; */
    transform: translateX(0%);
}
.slider-image-2 {
    width: 100%;
    object-fit: cover;
    /* transition: all 2s ease-in-out; */
    transform: translateX(0%);
}
.slider-image-3 {
    width: 100%;
    object-fit: cover;
    /* transition: all 2s ease-in-out; */
    transform: translateX(0%);
}
.slider-image-4 {
    width: 100%;
    object-fit: cover;
    /* transition: all 2s ease-in-out; */
    transform: translateX(0%);
}

/* text-container on image slider box */
.text-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 684px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #00000056; */
}
.text-container .border-outside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 275px;
    /* width: 10em;
    height: 10em; */
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
    margin-top: -100px;
    /* margin-left: 35px; */
    padding: 6px;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}
.text-container .border-outside .border-inside {
    background: #f3b7b700;
    width: 250px;
    height: 250px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;   */
    text-align: center;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}
.border-outside .border-inside .text {
    font-family: "lato-bold";
    
}
.text-line-1 {
    font-family: "lato-bold";
    color: white;
    margin-top: 25px;
    margin-bottom: 20px;
    /* text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.text-line-2 {
    font-size: 3.5em;
    margin-bottom: 20px;
}
.text-line-3 {
    position: relative;
    font-family: "lato-bold";
    color: white;
    margin-bottom: 20px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.text-line-3:after {
    content: "";
    position: absolute;
    top: 8px;
    right: 50px;
    margin-right: 0px;
    background: white;
    width: 30px;
    height: 1px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
.text-line-3:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 50px;
    background: rgb(255, 255, 255);
    width: 30px;
    height: 1px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
.text-line-4 {
    position: relative;
    font-size: 2em;
}
.text-line-4:after {
    content: "";
    position: absolute;
    top: -24px;
    right: 20px;
    margin-right: 0px;
    background: white;
    width: 60px;
    height: 1px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
.text-line-4:before {
    content: "";
    position: absolute;
    top: -24px;
    left: 20px;
    background: rgb(255, 255, 255);
    width: 60px;
    height: 1px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
.main {
    width: 100%;
    height: 100vh;
}
/* Dots for image indication */
.img-indication-dots {
    width: 115px;
    height: 50px;
    background: rgba(219, 219, 219, 0.356);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    margin-bottom: 1em;
    /* box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.2); */
}
/* .img-indication-dots [class^=dot] {
    width: 16px;
    height: 16px;
    background: #fd6100;
    margin: 0px 12px;
    border: 1px solid rgba(255, 255, 255, 0);
    transform: rotate(45deg);
} */
/* .img-indication-dots .dot3, .img-indication-dots .dot1 {
    width: 10px;
    height: 10px;
    /* background: #fd610000; */
    /* border: 1px solid #fd6100;
}  */

/* Tranition for DOTS on corousal */
.img-indication-dots .dot1 {
    width: 16px;
    height: 16px;
    background: #fd6100;
    /* margin: 0px 12px; */
    /* border: 1px solid rgba(255, 255, 255, 0); */
    transform: rotate(45deg) scale(0.7);
}
.img-indication-dots .dot2 {
    width: 16px;
    height: 16px;
    background: #fd6100;
    /* margin: 0px 12px; */
    /* border: 1px solid rgba(255, 255, 255, 0); */
    transform: rotate(45deg) scale(1);
}
.img-indication-dots .dot3 {
    width: 16px;
    height: 16px;
    background: #000000;
    /* margin: 0px 12px; */
    /* border: 1px solid rgba(255, 255, 255, 0); */
    transform: rotate(45deg) scale(0.7);
    /* transition: all 2s; */
}
.img-indication-dots .dot4 {
    width: 16px;
    height: 16px;
    background: #000000;
    /* margin: 0px 12px; */
    /* border: 1px solid rgba(255, 255, 255, 0); */
    transform: rotate(45deg) scale(0.7);
    /* transition: all 2s; */
}
.img-indication-dots .dot5 {
    width: 16px;
    height: 16px;
    background: #000000;
    /* margin: 0px 12px; */
    /* border: 1px solid rgba(255, 255, 255, 0); */
    transform: rotate(45deg) scale(0.7);
    /* transition: all 2s; */
}
/* .img-indication-dots .dot3 {
    margin-right: 0;
}
.img-indication-dots .dot1 {
    margin-left: 0;
} */
/* styling a container box having the dots */
.dot1-container, .dot2-container, .dot3-container, .dot4-container, .dot5-container{
    /* position: absolute; */
    width: 30px;
    height: 30px;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
    background: rgba(255, 255, 255, 0);
    margin: 0px 30px;  
}
.dot1-container {
    transform: translateX(-0px);
} 
.dot2-container {
    margin-left: 0px;
    transform: translateX(-0px);
}
.dot3-container {
    margin-left: 0px;
    transform: translateX(-0px);
}
.dot4-container {
    position: absolute;
    margin-left: 0px;
    transform: translateX(102px);
}

.dot5-container {
    position: absolute;
    margin-left: 0px;
    transform: translateX(145px);
}
/* Increase slider button */
.container-button {
    width: 100%;
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
}
.increment-button, .decrement-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    font-size: 2em;
    /* margin-right: auto;
    margin-left: auto; */
}